.search-container {
    display: flex;
    justify-content: center;
  }

.search-input-field {
    width: 800px; 
    margin-top: 50px;
  }

.products{
    border: 1px solid ;
    padding: 20px; 
    border-radius: 5px; 
    font-weight: bold;
}
/* 
.product-hover{
  box-shadow: 0px 0px 10px rgba(205, 235, 239, 0.1);
} */