<mat-toolbar color="primary" class="mat-elevation-z8">
    <!-- PricePinion/Home -->
    <a mat-button style="font-size: 20px;" routerLink="Home"><mat-icon>storefront</mat-icon>PricePinion</a>
    
    <div class="nvHeaderSpace"></div>
    
    <!-- SaveForLater -->
    <a mat-button routerLink="SFL"><mat-icon>favorite</mat-icon>&nbsp;Save&nbsp;For&nbsp;Later</a>
    
    <!--Account Menu/DropDown-->
    <mat-menu #accountMenu="matMenu">                                                
        <button mat-menu-item routerLink="Account">Account</button>
        <button mat-menu-item>Logout</button>
    </mat-menu>
    
    <!--Account-->
    <a  mat-icon-button [matMenuTriggerFor]="accountMenu"><mat-icon>account_circle</mat-icon></a>    
</mat-toolbar>
