.product-details-container {
    display: flex;
    color: rgb(87, 132, 19);  
}

.left-column {
    margin-top: 50px;
    flex: 0 0 500px;
    padding: 20px; 
    border-right: 1px solid #ccc;
}

.right-column {
    flex: 2; 
    padding: 20px;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.button{
    font-weight: 100;
    margin-top: 50px;
    font-size: 18px;
	background-color: #5f7cd1; 
	color: #fff;
	padding: 15px 20px;
	border-radius: 10px;
	cursor: pointer;
   
}

.description-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    
}

.image{
    height: 300px;
	width: 250px;
	margin-bottom: 20px;
}

.status-message{
    margin-top: 20px;
}

.success {
    color: green;
  }
  
.error {
    color: red;
  }