<div class="product-details-container">
    <div class="left-column">
        <h1><strong>{{productStores?.productName}}</strong></h1>

        <img [src]="productStores?.productImage" alt={{productStores?.productName}} class="image">
        <div>
            <!-- Use ngIf else to handle if-else condition -->
            <ng-container *ngIf="sflStatus; else saveForLaterBtn">
                <!-- Show the delete button if sflStatus is true -->
                <button class="button delete-button" type="button" (click)="toggleSaveForLater()">
                    <mat-icon class="icon">delete</mat-icon> Delete From Save For Later
                </button>
            </ng-container>

            <ng-template #saveForLaterBtn>
                <!-- Show the save button if sflStatus is false -->
                <button class="button" type="submit" (click)="toggleSaveForLater()">
                    <mat-icon class="icon">favorite</mat-icon> Save For Later
                </button>
            </ng-template>

        </div>
        <div class="status-message">{{ statusMessage }}</div>
    </div>

    <div class="right-column">
        <table mat-table [dataSource]="tableData" class="table">

            <!-- defines table columns -->
            <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column" class="description-cell">

                <!-- rename column name of Shop Now while keeping the other column names the same -->
                <th mat-header-cell *matHeaderCellDef>{{ column === 'ShopNow' ? 'Shop Now' : column }}</th>

                <td mat-cell *matCellDef="let item">
                    <ng-container *ngIf="column !== 'ShopNow'; else storeLink">
                        {{ item[column] }}
                    </ng-container>

                    <!-- hiding the store link  -->
                    <ng-template #storeLink>
                        <a [href]="item[column]" target="_blank">Visit Store</a>
                    </ng-template>
                </td>

            </ng-container>

            <!-- defines table rows -->
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>

            <!--displays row from tableData under the column names from tableColumns-->
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        </table>
    </div>
</div>