.product-details-container {
    display: flex;
}

.left-column {
    margin-top: 50px;
    flex: 0 0 300px;
    padding: 20px; 
}

.right-column {
    flex: 2; 
    padding: 20px;
}

.table {
    width: 100%;
}

.button{
    font-weight: 100;
    margin-top: 250px;
    font-size: 18px;
	background-color: rgb(72, 72, 232);
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.description-cell {
    overflow: hidden;
    text-overflow: ellipsis;
}