.product-details-container {
    display: flex;
    color: rgb(87, 132, 19);
}

.left-column {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.right-column {
    flex: 2;
    padding: 20px;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.button {
    font-weight: 100;
    font-size: 1rem; 
    background-color: #5f7cd1;
    color: #fff;
    padding: 0.75rem 1rem; 
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.delete-button {
    background-color: #ff6347;
}

.icon {
    margin-right: 0.5rem;
}

.description-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem; 
}

.image {
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    margin-bottom: 70px;
}

.status-message {
    margin-top: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}
