<mat-toolbar color="primary" class="mat-elevation-z8">
    
    <a mat-button style="font-size: 20px;"  routerLink="Home" >
        <mat-icon>storefront</mat-icon>PricePinion</a>              <!-- PricePinion/Home -->

    <div class="nvHeaderSpace"></div>

    <a mat-button routerLink="SFL"><mat-icon>favorite</mat-icon>SaveForLater</a>     <!-- SaveForLater -->

    <a mat-button routerLink="Account"><mat-icon>account_circle</mat-icon></a>           <!-- Account -->

    <a mat-raised-button color="accent" >Logout</a>
</mat-toolbar>