<!-- Search Field -->
<div class="search-container">
    <mat-form-field class="search-input-field">
        <input matInput placeholder="Search" #searchInput [(ngModel)]="searchFilter"
            (input)="filterProducts(searchInput.value)">
        <button mat-button matSuffix>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>

<!-- Product Grid List -->
<div>
    <mat-grid-list cols="4">
        <!-- number of columns on screen to showcase products-->
        <mat-grid-tile *ngFor="let product of filteredProducts">

            <!-- Navigation to Product-Stores component on click of a product -->
            <div class="products">
                <a [routerLink]="['/Product-Stores', product.pname]">{{ product.pname }}</a>
            </div>

        </mat-grid-tile>

        <mat-grid-tile *ngIf="filteredProducts.length === 0" colspan="4" >
            <div>No products found matching your search criteria. Please try again.</div>
        </mat-grid-tile>
    </mat-grid-list>
</div>