
.search-input-field {
	width: 800px;
	margin-top: 50px;
}

.products {
	border: 1px solid;
	padding: 20px;  		/*space around the product image&name within each grid block*/
	border-radius: 5px;
	font-weight: bold;
}

.image-property {
	height: 200px;
	width: 200px;
}