
<!-- Search Field -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="input-group search-input-field">
                <input [(ngModel)]="searchFilter" type="text" class="form-control" placeholder="Search Product"  
                    (input)="filterProducts()">     
            </div>
            
            <p>Searched Value is:  {{ searchFilter }}</p> 
            
        </div>
    </div>
</div>


<!-- Product grid list using bootStrap grid -->
<div class="container ">
     <!-- mt-5 class is margin top/vertical spacing -->
    <div class="row mt-5">
        <!-- mb-4 class is margin bottom spacing -->
        <div class="col-sm-4   mb-4" *ngFor="let product of filteredProducts">
            <!-- Navigation to Product-Stores component on click of a product -->
            <div class="products text-center">
                <div>
                    <a [routerLink]="['/Product-Stores', product.productName]">
                        <img [src]="product.productImage" alt="{{ product.productName }}" class="img-fluid image-property"> <!--image scales appropriately with its parent container-->
                    </a>
                </div>
                <div>
                    <a [routerLink]="['/Product-Stores', product.productName]">{{ product.productName }}</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center" *ngIf="filteredProducts.length === 0">
            <div>No products found matching your search criteria. Please try again.</div>
        </div>
    </div>
</div>